/* General body styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #414245;
    margin: 0;
}

/* Login form styling */
.login-container {
    background-color: rgb(183, 193, 194);
    padding: 2em;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 1em;
    color: #000000;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 0.3em;
    color: #555;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 95%;
    padding: 0.8em;
    margin: 0.5em 0;
    border: 1px solid #ddd;
    border-radius: 40px;
}

.login-container button {
    background-color: #050505;
    color: rgb(255, 255, 255);
    padding: 0.8em;
    border: none;
    border-radius: 40px;
    width: 100%;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.6s;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container a {
    display: block;
    margin-top: 1em;
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

